# Disable Scamsung anti-root protection
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_RKP_KDP=n
CONFIG_RKP_NS_PROT=n
CONFIG_RKP_DMAP_PROT=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_RKP_CFP=n
CONFIG_RKP_CFP_JOPP=n
CONFIG_FIVE=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n

# Import Ramdisk in boot.img
CONFIG_ANDROID_BOOT_PARTITION="/dev/sda14"

# Kernel LocalVersion
CONFIG_LOCALVERSION="-GoRhanHee_Kernel_N10"
CONFIG_LOCALVERSION_AUTO=n

# Isolate dtbs/dtbos
CONFIG_SOC_EXYNOS9825=y

# Enable OverlayFS
CONFIG_OVERLAY_FS=y

# Enable KernelSU-Next
CONFIG_KSU=y
CONFIG_KSU_MANUAL_HOOK=y
CONFIG_KSU_ALLOWLIST_WORKAROUND=y
CONFIG_KSU_SUSFS=n
CONFIG_MODEL_D2XKS=y
